*{
	margin:0px;
	padding:0px;
	border:none;
	font-size:12px;
}

html,body{
	width:100%;
	height:100%;
	overflow:hidden;
}
.container{
	height:100%;
	width:200%;
}
.detail,.main{
	position:relative;
	float:left;
	display:block;
	overflow:hidden;

	height:100%;
	width:50%;
}

.main .header{
	position:relative;
	top:0px;
	height:6%;
	width:100%;

	border-top:1px solid #fc9b7f;
	background-color:#f1f5f8;
	td{
		width:8.13%;
		height:100%;
		border-collapse:collapse;
		color:#797a7a;
		text-align:center;

	}

}
.main .table_wrap{
	position:relative;
	bottom:0px;
	height:94%;
	width:100%;
	overflow:auto;
	table{
		width:100%;
		height:auto;
		text-align: center;
        z-index: 1;
		table-layout: fixed;
		border-collapse:collapse;
		position:relative;
		td,th{
			 border-collapse:collapse;
			 border: 1px solid #edf9fe;
			 overflow:hidden;
		     table-layout: fixed;
		 
		}
		th{
			
			font-weight:normal;
			color:#adb9bd;
		}
		td{
		  color:#fff;
		  overflow:hidden;
		}
	}
}
td p{
  width: 95%;
  height:100%;
  overflow: hidden;
  display: inline-block;
  border-radius: 5px;
  text-align:center;
  position:relative;
  margin-top:2px;
  padding-top:3px;
  
}
.detail{
	background-color:red;
}
